.field-checkbox {
  display: flex;
  align-items: center;
}

.field-checkbox+.field-checkbox {
  margin-top: 20px;
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__label {
  position: relative;
  font: 400 20px/20px $primary-font;
  text-transform: uppercase;
  color: $black;
  white-space: nowrap;
  margin-left: 40px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -40px;
  }
  &::before {
    width: 30px;
    height: 30px;
    border: 1px solid $grey-60;
  }
  &::after {
    width: 10px;
    height: 20px;
    transform: scale(0) translate(10px, 3px) rotate(0);
    transition: transform 0.28s ease-in;
  }
}

.field-checkbox__input:checked~.field-checkbox__label::after {
  transform: scale(1) translate(10px, 3px) rotate(45deg);
  border-right: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
}
