/* Fonts */
$primary-font: "Oswald", Arial, Helvetica, sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;
/* Colors */
$primary-color: #68b738;
$primary-color-darken: #5eaa2f;
$grey-50: #f2f2f2;
$grey-55: #ebebeb;
$grey-60: #cdcdcd;
$grey-80: #666;
$grey-90: #444;
$black: #111;
$warning-color: #ff8282;
/* Breakpoints */
$tablet-width: 768px;
$desktop-width: 1300px;
